@use "../../styles/mixins.scss" as mixins;

.footer {
  display: grid;
  background-color: var(--color-purple);
  color: white;
  grid-template-columns: repeat(2, minmax(20rem, 1fr));

  &__logoContainer {
    @include mixins.flexCenter;
    flex-direction: row;
    padding: 5rem 2.5rem;
  }
  &__grid {
    padding: 5rem 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  &__gridItem {
    display: flex;
    flex-direction: column;
  }
  &__linkLabel {
    margin-bottom: 1rem;
  }
  &__link {
    @include mixins.resetlink();
    color: white;
    width: fit-content;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
